<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="user" class="com.colinting.spring.User">
        <constructor-arg index="0" value="1"/>
        <constructor-arg index="1" value="Colin"/>
        <constructor-arg index="2" value="Male"/>
    </bean>

    <bean id="person" class="com.colinting.spring.Person">
        <property name="age" value="29"/>
        <property name="name" value="Hao"/>
    </bean>

</beans>